body {
    background-color: #F0F2F5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    border: 1px solid white;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#chat {
    border: 1px solid #E4E6EB;
    width: calc(100% - 20px); /* Take into account padding */
    max-width: 600px;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    margin-top: 10px;
}

#message {
    margin-top: 10px;
    display: flex;
    justify-content: space-between; /* Ensure proper spacing between elements */
}

#message_box {
    flex: 1;
    height: 40px;
    max-width: calc(100% - 70px); /* Adjusted width to accommodate send button */
    background-color: #E4E6EB;
    border-radius: 20px;
    border: 1px solid #E4E6EB;
    padding-left: 20px;
}

#send_icon {
    background-color: #E4E6EB;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

#send_icon:hover {
    background-color: blue;
}

/* Media query for smaller devices */
@media only screen and (max-width: 600px) {
    #chat {
        height: 200px;
    }

    #message_box {
        max-width: calc(100% - 50px); /* Adjusted width for send button */
    }

    #send_icon {
        width: 30px;
        height: 30px;
    }
}
body {
    background-color: #F0F2F5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    border: 1px solid white;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#chat {
    border: 1px solid #E4E6EB;
    width: calc(100% - 20px); /* Take into account padding */
    max-width: 600px;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    margin-top: 10px;
}

#message {
    margin-top: 10px;
    display: flex;
    justify-content: space-between; /* Ensure proper spacing between elements */
}

#message_box {
    flex: 1;
    height: 40px;
    max-width: calc(100% - 70px); /* Adjusted width to accommodate send button */
    background-color: #E4E6EB;
    border-radius: 20px;
    border: 1px solid #E4E6EB;
    padding-left: 20px;
}

#send_icon {
    background-color: #E4E6EB;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

#send_icon:hover {
    background-color: blue;
}

/* Media query for smaller devices */
@media only screen and (max-width: 600px) {
    #chat {
        height: 200px;
    }

    #message_box {
        max-width: calc(100% - 50px); /* Adjusted width for send button */
    }

    #send_icon {
        width: 30px;
        height: 30px;
    }
}
